* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Foldit', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sigmar', cursive;
}

header {
    color: white;
    background-color: black;
    display: flex;
    height: 66px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin: auto 30px;
}

header img {
    width: 105px;
    height: 35px;
    margin: auto 30px;
}

header button {
    height: 29px;
    width: 142px;
    margin: auto 20px auto auto;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: #ff00fb;
    font-size: 17px;
    font-weight: 900;
}
main img{
    z-index: -1;
position: absolute;
margin-top: -650px;
width: -moz-available;
}
main center button{

    width: 198px;
    height: 30px;
    margin: 47px;
    background-color: #ff00fb;
    border-style: none;
    border-radius: 7px;
    font-size: 16px;
    color: white;
    font-weight: 900;

}
#B{
    margin-top: 178px;
    color: white;
    font-size: 51px;
    font-weight: 600;

}
#S{
color: white;
font-size: 19px;
}
